@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-transform: none;
    text-decoration: none;
    font-style: normal;
}

/* INÍCIO HEADER */
.header-content-adm{
    width: 80%;
    margin: 0 auto;
    /* background-color: chartreuse; */
    display: flex;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #1848A0;
}
.div-logo-adm{
    width: 33.5%;
    height: 100%;
}

.logo-adm{
    height: 100%;
}

.header-options-adm{
    width: 66.5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Roboto';
    font-size: 28px;
}

.a-adm{
    text-decoration: none;
    color: black;
}
.a-adm:hover{
    color: white;
}

/* FIM HEADER */
/* INÍCIO BODY */
body{
    background-color: #1848A0;
}
.body-content-adm{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.cadastro-usuario-adm{
    width: 100%;
    height: 10%;
    margin-top: 3%;
    background: #69F2FA;
    border-radius: 30px;
}
.cadastro-content-adm{
    width: 95%;
    height: 95%;
    margin: 0 auto;
    padding-top: 8px;
}
.list-adm{
    width: 100%;
    height: 100%;
    margin-top: 3%;
    background: #69F2FA;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
}
.list-content-adm{
    width: 25%;
    height: 50%;
    margin: auto;
    padding-top: 1%;
}
.consulta-adm{
    width: 100%;
    height: 100%;
    background: #CFF4FF;
    border-radius: 30px;
}
.infos-adm{
    width: 90%;
    padding-top: 4%;
    margin: auto;
}
.infos-adm img{
    width: 46px;
}
.title-adm p{
    font-size: 23px;
}
.medic-adm{
    display: flex;
    padding-top: 20px;
}
.medic-info-adm{
    padding-left: 10px;
}
.medic-info-adm p{
    font-size: 20px;
}
.paciente-adm{
    display: flex;
    padding-top: 20px;
}
.patient-info-adm{
    padding-left: 10px;
}
.paciente-adm p{
    font-size: 20px;
}
.desc-adm{
    padding-top: 15px;
}
.text-adm{
    padding-top: 10px;
    max-height: 270px;
}